<!DOCTYPE html>

    <%- include ('./layout/header.ejs') %>

<%- include ('./layout/nav.ejs' ) %>

<body>
    <main>
        <section>
            <% fav.forEach(character =>{ %>
                <p>
                    <%=character.quote%>
                </p>
<h3>
    <%=character.character%>
</h3>
<img src="<%=character.image%>" alt="">
<form action="/favorite-quotes/<%=character.id%>"  method="POST">
    <input type="submit" value="detalis">
              </form>
            <%})%>
        

    </main>
    
</body>
</html>