<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <section>
            <% characters.forEach(character =>{ %>
                <p>
                    <%=character.quote%>
                </p>
<h3>
    <%=character.character%>
</h3>
<img src="<%=character.image%>" alt="">

<form action="/save" method="POST">
    <input type="hidden" name="quote" value="<%=character.quote%>">
    <input type="hidden" name="character" value="<%=character.character%>">
    <input type="hidden" name="image" value="<%=character.image%>">
    <input type="hidden" name="characterDirection" value="<%=character.characterDirection%>">
<input type="submit" value="favor character">

</form>
            <%})%>
            
        </section>

    </main>
</body>
</html>